<div class="course-list">
    @for(course of courses;track course.id){

    <div class="course-card">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ course.title }}</mat-card-title>
                <mat-card-subtitle>{{ course.description }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>

                <a mat-button [routerLink]="['/course',course.id]" (click)="this.details=course.id">
                    <mat-icon>info</mat-icon>
                    more info
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    }
    @empty {
    <mat-card id="enroll-card">

        @if(!all && studentId){

        You don't have any courses in your account yet.
        Too bad you'll miss out!
        <button mat-raised-button class="enroll" [routerLink]="['/course/stud/all']">
            enroll now
        </button>

        }
    </mat-card> }
</div>