<mat-toolbar class="container" color="primary">
  <div class="right">
    
      <span>{{user?.role || '' | RoleIcon }}</span>
 
    <span>Wolcome to Courses Online!</span>
  </div>
  <div class="left">
    <button mat-button [routerLink]="['']">home</button>
    @if(!id){

    <button mat-flat-button color="primary" (click)="openSignIn()">sign in</button>
    <button mat-raised-button (click)="openSignUp()">sign up</button>
    }
    @else{

    @switch (user?.role) {
    @case ('student') {
    <button mat-button [routerLink]="['/course/stud/' , id]">my courses</button>
    <button mat-button [routerLink]="['/course/stud/all' ]">enroll</button>
    }
    @case ('teacher') {
    <button mat-button [routerLink]="['/add/crs' ]">add course</button>

    }
    @default {
    <button mat-button [routerLink]="['/course/stud/all']">all courses</button>

  }
}
<button mat-raised-button (click)="logOut()">log out</button>
    }





  </div>
</mat-toolbar>


<div>
  <router-outlet></router-outlet>
</div>