
<mat-toolbar class="container" color="primary">
    <div class="right">
      <span>Wolcome to Courses Online!</span>
    </div>
    <div class="left">
      <button mat-button [routerLink]="['']">home</button>
      <button mat-button (click)="myCourses()">my courses</button>
      <button mat-button (click)="allCourses()">enroll</button>
      <button mat-button (click)="allCourses()">add course</button>
      @if(id){

        <button mat-flat-button color="primary" [routerLink]="['/connect/login']">sign in</button>
        <button mat-raised-button [routerLink]="['/connect/register']">sign up</button>
      }
      @else {
        <button mat-raised-button (click)="logOut()">log out</button>

      }
  
    </div>
  </mat-toolbar> 


  <div >
    <router-outlet></router-outlet>
</div>
