<!-- <mat-toolbar color="primary">
    <span class="spacer"></span>
    @if(user.role==='student'){

        <button mat-button (click)="choose=1">my courses</button>
        <button mat-button (click)="choose=2">enroll</button>
    }
    @else if (user.role==='teacher'){
        <button mat-button (click)="choose=2">all courses</button>
        <button mat-button [routerLink]="['/add/crs']" >add course</button>

    }
    <button mat-raised-button (click)="logOut()">log out</button>
    
  </mat-toolbar>
 -->
<!-- 
@switch (choose) {
    @case (1) {
        <app-course [studentId]="studentId" [all]="false"></app-course>

    }
    @case (2) {
        <app-course [studentId]="studentId" [all]="true"></app-course>
 
    }
   
} -->
<!-- <div>
    @if(student){

    <h1>Student Details</h1>
    <p>ID: {{ student.id }}</p>
    <p>Name: {{ student.name }}</p>
    <p>Email: {{ student.email }}</p>
    }


</div> -->

<div>

    <!-- <h2>Course:</h2>
    @for(c of (myCourses); track c.id)
    {
    {{c.id}} - {{c.title}}
    }
    @empty{
    <div>you have no courses yet</div>
    } -->
</div>

  